@import "reset.css";
@import "_mixins.scss";
@import "mulish.css";

body {
    font-family: 'Mulish', sans-serif;
    background-color: #F3F5F9;
}
.container {
    width: 100%;
    max-width: toRem(1180);
    margin: 0 auto;
    @include laptop {
        max-width: toRem(940);
    }
    @include tablet {
        max-width: toRem(708);
    }
    @include phone {
        max-width: toRem(290);
    }
}
